<md-toolbar color="primary">
    <span>Releaser</span>
    <span class="middle_spacer"></span>
    <span>
        <button md-button color="primary" *ngIf="!(auth | async)" (click)="doGithubLogin()">Login Github</button>
        <button md-button *ngIf="auth | async" (click)="doLogout()">Logout</button>
    </span>
</md-toolbar>
<md-sidenav-layout>
    <md-card class="demo-card demo-basic">
        <md-toolbar>Watchlist:</md-toolbar>
        <md-card-content>
            <md-list>
                <md-list-item *ngFor="let item of list | async">
                    {{item.$value}} {{item.$key}}
                </md-list-item>
            </md-list>
            <button md-mini-fab md-button (click)="sidenav.open()">
                <md-icon class="md-24">add</md-icon>
            </button>
        </md-card-content>
    </md-card>

    <md-sidenav #sidenav align="end">
        <md-toolbar>Add repo:</md-toolbar>
        <md-input #value placeholder="Search for GitHub repositories..."
                #search
                (change)="onSearch(search.value)"></md-input>
        <md-progress-bar *ngIf="searching" mode="indeterminate"></md-progress-bar>

        <md-list>
            <md-list-item *ngFor="let repo of repositories | async">
                {{repo.full_name}}
                <button md-mini-fab (click)="addRepo(repo)">
                    <md-icon class="md-24">add</md-icon>
                </button>
            </md-list-item>

            <button md-mini-fab md-button (click)="sidenav.close()">
                <md-icon class="md-24">close</md-icon>
            </button>
        </md-list>
    </md-sidenav>
</md-sidenav-layout>