<md-toolbar color="primary" style="align-content: center">
    <span style="line-height: 1.8em;">Releaser for GitHub</span>
    <!--<span class="middle_spacer"></span>-->
    <span>
        <button md-raised-button color="accent" *ngIf="!user" (click)="doGithubLogin()">Login or Signup with Github</button>
        <button md-button *ngIf="user" (click)="doLogout()">Logout</button>
    </span>
</md-toolbar>
<md-sidenav-container>
    <div class="center_content">
        <md-card *ngIf="userId">
            <md-toolbar>
                Watchlist:
                <span class="middle_spacer"></span>
                <div>
                    <button md-mini-fab (click)="sidenav.open()">
                        <md-icon class="md-24">+</md-icon>
                    </button>
                </div>
            </md-toolbar>
            <md-card-content>
                <md-list *ngIf="(list | async)?.length > 0">
                    <md-list-item *ngFor="let item of list | async">
                        <a target="_blank" href="https://github.com/{{item.$value}}">{{item.$value}}</a>
                        <span class="middle_spacer"></span>
                        <span><a target="_blank" style="color: #a0a0a0;" href="{{ (item.info | async)?.link}}">{{ (item.info | async)?.title || ((item.info | async)?.time ? 'Waiting...' : 'No releases')}}</a></span>
                        <button md-button (click)="removeRepo(item.$key)">
                            Remove
                        </button>
                    </md-list-item>
                </md-list>
                <div style="text-align: right; margin: 1em 0;">
                    <span class="middle_spacer"></span>
                    <button md-fab (click)="sidenav.open()">
                        <md-icon class="md-24">add</md-icon>
                    </button>
                </div>
            </md-card-content>
        </md-card>
        <md-card *ngIf="!userId">
            <md-card-title>Welcome to Releaser</md-card-title>
            <md-card-content>
                This is a simple app that emails you immediately if any of your selected repositories on GitHub get a new
                release<br><br>
                <button md-raised-button color="accent" (click)="doGithubLogin()">Login or Signup with Github</button>
            </md-card-content>
        </md-card>
    </div>
    <md-sidenav #sidenav align="end">
        <sidebarContent (onAdd)="addRepo($event); sidenav.close()" (closeClicked)="sidenav.close()"></sidebarContent>
    </md-sidenav>
</md-sidenav-container>