@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

app-root {
  height: 100%;
}

md-sidenav-container {
<<<<<<< HEAD
  height: 100%;
=======
    height: 100%;
>>>>>>> d61cb6e... Update styles.scss
}

md-sidenav-layout {
  height: calc(100% - 64px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_content {
  padding-top: 1em;
  display: flex;
  margin: auto;
  @media(max-width: 640px) {
    width: 100%;
  }
  @media(min-width: 641px) {
    width: 50%;
  }
}
md-card {
  width:100%;
}

md-sidenav {
  @media(max-width: 640px) {
    width: 100%;
  }
  @media(min-width: 641px){
    width: 50%;
  }

  md-input {
    width:100%;
    margin-top:1em;
  }
}
.middle_spacer {
  flex: 1 1 auto;
}
